@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-blue: #0068c9;
  --color-brand-blue-dark: #0053a3;
  --color-brand-green: #43b82a;
  --color-brand-green-dark: #26961e;

  /* Medical UI Colors */
  --color-medical-navy: #12345b;
  --color-medical-text: #45627f;
  --color-medical-light: #eef8f5;
  --color-medical-blue-light: #edf7ff;

  /* Neutral */
  --color-brand-white: #ffffff;
  --color-brand-black: #07111f;
  --color-border-light: #e5edf3;

  /* Fonts */
  --font-heading: var(--font-manrope);
  --font-body: var(--font-open-sans);
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
  background: #ffffff;
  color: var(--color-medical-navy);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
   --font-body: var(--font-open-sans);
}
ul li{
   --font-body: var(--font-open-sans);
}

h1,h2,h3,h4,h5,h6{
    --font-heading: var(--font-manrope);
}
p{
  --font-body: var(--font-open-sans);
}
button{
    --font-heading: var(--font-manrope);
}




